################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/algorithm/.vs/binstretch/v15
/algorithm/x64/Debug
/algorithm/Debug
/algorithm/binstretch.vcxproj.user
/algorithm/binstretch.vcxproj.filters
/algorithm/binstretch.vcxproj
/algorithm/binstretch.sln
/algorithm/x64/Release
*.psess
*.vspx
*.cpp~
*.hpp~
experiments/*
